<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Top Level Menu -->
        <menuitem id="menu_smart_radar_root" name="رادار الذكاء" sequence="10" web_icon="smart_radar,static/description/icon.png"/>

        <!-- Dashboard Menu -->
        <record id="action_smart_radar_dashboard" model="ir.actions.client">
            <field name="name">لوحة التحكم المركزية</field>
            <field name="tag">smart_radar.dashboard</field>
        </record>
        <menuitem id="menu_smart_radar_dashboard" name="لوحة التحكم" parent="menu_smart_radar_root" action="action_smart_radar_dashboard" sequence="10"/>

        <!-- Operational Menus -->
        <record id="action_smart_radar_post_client" model="ir.actions.client">
            <field name="name">مراجعة المحتوى والمنشورات</field>
            <field name="tag">smart_radar.posts_client_action</field>
        </record>
        <menuitem id="menu_smart_radar_posts" name="المحتوى والمنشورات" parent="menu_smart_radar_root" action="action_smart_radar_post_client" sequence="20"/>
        <record id="action_smart_radar_targets_client" model="ir.actions.client">
            <field name="name">المصادر المرصودة</field>
            <field name="tag">smart_radar.targets_client_action</field>
        </record>
        <menuitem id="menu_smart_radar_targets" name="إدارة المصادر" parent="menu_smart_radar_root" action="action_smart_radar_targets_client" sequence="30"/>

        <!-- Settings Menu -->
        <record id="action_smart_radar_config_settings_client" model="ir.actions.client">
            <field name="name">إعدادات النظام المركزية</field>
            <field name="tag">smart_radar_action_config</field>
        </record>

        <menuitem id="menu_smart_radar_client_config" 
                  name="إعدادات النظام" 
                  parent="menu_smart_radar_root" 
                  action="action_smart_radar_config_settings_client" 
                  sequence="100"/>
    </data>
</odoo>
